html{
  background-color: #f6f6f6;
  user-select: none!important;
}
.section {
  padding: 0.8rem 0.2rem;
}
.shadow-1 {
  -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.padding-top{
  padding-top: 65px;
}
.column {
  padding: 0rem 0.75rem;
}
@media only screen and (max-width: 769px) {
  .columns {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
  }
  .column {
    padding: 0rem 0rem;
  }
}